/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* overflow-x: hidden; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================= */

body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    color: #232127;
    font-weight: 700;
}

p{
    color: #bfbfbf;
    text-align: center;
}


nav{
    margin: 35px 0 10px 10px;
}

.header-wrap{
    display: flex;
    flex-direction: column;
    align-content: center;

    margin-bottom: 100px;
}

.header-con__image{
    overflow-x: hidden;
}

.header-wrap__image{
    margin: 0 0 20px 25px;   
    width: 500px;
}

.banner-title{
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.banner-p{
    font-size: 16.5px;
    line-height: 1.7;
    margin: 0 20px 30px 20px;
}

.btn{
    background-color: #51dbdb;
    border: 0 solid;
    border-radius: 30px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 auto;
    height: 45px;
    width: 160px;
}


/* Url Input  */
.form-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.url-form{
    background-color: #232127;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 200px;
    width: 80vw;
}

.url-form__input{
    border: 0 solid;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 30px;
    padding: 7.5px 0px;
    width: 70vw;
}

.url-form__btn{
    background-color: #51dbdb;
    border: 0 solid;
    border-radius: 10px;
    padding: 15px 10px;
    width: 70vw;
}

/* Reply  */
.resData {
    background-color: #232127;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0 0 80px 0 ;
    width: 375px;
}

.resData__h1{
    background-color: beige;
    border-radius: 10px;
    color: #569a08;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    width: 75vw;
}





/* -------------------------- */

.article-wrap__header{
    font-size: 25px;
    margin-bottom: 25px;
}

.articles-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-wrap__p{
    margin-bottom: 60px;
}


.article-con{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* background-color: #232127; */
    border-radius: 5px;
    margin-bottom: 40px;
    height: 200px;
    width: 85vw;
}


.article__h3{
    font-size: 21px;
    margin-bottom: 20px;
}

.article__p{
    line-height: 1.5;
    margin-bottom: 40px;
}

.promo{
    background-color: #2f293a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}


.promo__title{
    color: white;
    font-size: 27px;
    margin-bottom: 25px;
}




footer{
    background-color: #232127;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_img{
    margin: 20px 0;
}

h4{
    margin-bottom: 7px;
    text-align: center;
}

aside ul{
    margin-bottom: 15px;
}

aside ul li{
    list-style-type: none;
    margin-bottom: 5px;
    text-align: center;
}

aside ul li a{
    color: #bfbfbf;
    text-align: center;
    text-decoration: none;
}

nav img{
    margin: 0 10px;
}